.Box{
  max-width: 300px;
  /* min-height: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 500px;
  /* height: 300px; */
  padding: 35px;

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}

.form{
    /* border:1px solid red; */
    /* width: 60%; */
    /* border-left: 3px solid rgb(255, 244, 39); */
    /* padding-left: 20px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border: 1px solid red; */
}
.form h1 {
  font-size: 30px;
  /* border-left: 5px solid dodgerblue; */
  /* padding: 10px; */
  color: #000;
  letter-spacing: 2px;
  /* margin-bottom: 60px; */
  font-weight: bold;
  /* padding-left: 10px; */
}
.form .form-control {
  position: relative;
  /* width: 300px; */
  height: 50px;
  /* margin-bottom: 50px; */
  /* margin-left: 10px; */
}
.form input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid rgb(81, 81, 81);
  outline: none;
  background: rgb(241, 241, 241);
  padding: 10px;
  border-radius: 10px;
  font-size: 1em;
}
.form .form-control label {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}

.form button {
  /* width: 30%; */
  padding: 12px;
  background: rgb(30, 144, 255);
  align-items: center;
  font-size: 18px;
  color: #fff;
  border: #fff;
  border-radius: 10px;
  margin-top: 10px;
}
.form button:hover {
  background: rgb(222, 22, 22);
  cursor: pointer;
}

.output{
  /* border: 1px solid red; */
  margin-top: 40px;
  border-top: 2px solid rgb(58, 58, 58);
  padding-top: 10px;
}
.output .title{
  /* border: 1px solid rgb(63, 63, 63); */
  margin: 0;
}
.output .summary{
  /* border: 1px solid green; */
  margin: 0;
  padding: 0;
}
/* @media screen and (max-width: 644px){
    .Box{
        flex-direction: column;
    }
   .form{
        width: 100%;
        padding: 0px;
        margin: 0;
        border-top: 2px solid yellow;
        border-left: 0;
        margin-top: 5px;
    }
    .info{
        width: 100%;
        padding: 0;
        margin: 0;
        padding-left: 10px;
    }
    h1{
        margin-bottom: 10px;
    }
    .form-control{
        margin: 2px;
    }
    button{
        font-size: 15px;
        padding: 10px;
    }
    
} */